@{
    ViewBag.Title = "Home Page";
}
    <link href="~/Content/Style/index-style.css" rel="stylesheet" />


<div class="main-slider">
    <div class="slider-img">
        <img src="~/Content/images/img-slider1.jpg" />
    </div>
    <div class="slider-infor">
        <i class="tag-name">
            Coffee great
        </i>
        <h3 class="info-title">
            Chăn rau ở đâu chất lượng
        </h3>
        <div class="info-description">
            <p>
                Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem
                Ipsum has been the industry's standard
                dummy text ever since the 1500s, when
                an unknown printer took a galley of type
                and scrambled it to make a type specimen
                book
            </p>
        </div>
    </div>
</div>