body {
    padding-top: 0px;
    padding-left: 70px;
    padding-right: 70px;
}

ul
{
    padding-left: 0px;
}
.navbar {
    margin: auto;
    width: 100%;
    max-width: 1280px;
    height: 150px;
}

.navbar .nav-header 
{
    width: 100%;
    height: 100px;
    display: flex;
}
.nav-header .header-contact
{
    width: 20%;
    height: 100%;
}
.header-contact .icon-contact {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon-contact a
{
    font-size: 25px;
    color: black;
}
.nav-header .header-logo
{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.nav-header .header-txtsearch {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}
.header-txtsearch .space-2
{
    width: 20%;
    height: 100%;
}
.header-txtsearch .main-search {
    width: 80%;
    height: 34px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid whitesmoke;
    border-radius: 25px;
}
.txt-search
{
    width: 80%;
    border: none;
    border-radius: 25px;
    height: 30px;
    padding-left: 20px;
}
.btn-search {
    width: 20%;
    border: none;
    border-radius: 25px;
    height: 30px;
    background-color: white;
}
.navbar .nav-menu {
    width: 100%;
    height: 50px;
    display: flex;
}
.nav-menu .space-1
{
    width: 20%;
    height: 100%;
}
.nav-menu .menu
{
    width: 60%;
    height: 100%;
    border-bottom: 2px solid black;
    margin-bottom: 10px;
}

.nav-menu .nav-user
{
    width: 20%;
    height: 100%;
    display: flex;
}
.nav-user a i
{
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    float: right;
    font-size:20px;
    color: black;
}


.menu ul {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
ul li
{
    list-style: none;
}

.menu ul li a
{
    font-size: 20px;
    color: black;
}
.footer {
    width: 100%;
    height: 250px;
    background-color: #313131;
    display: flex;
    justify-content: space-evenly;
}

.footer .ft
{
    width: 24%;
    height: 100%;
    color: white;
}
.ft .title
{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.ft-folow ul
{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.ft-folow ul li a
{
    color: white;
    font-size: 35px;
}
.nav-user .space-3 {
    width: 40%;
    height: 100%;
}

.nav-user .login_join {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-user .login_join a
{
    font-size: 18px;
    color: black;
}

.nav-user .login_join a:hover
{
    text-decoration: none;
}

.login_join .menu-lv2 {
    display: none;
    position: absolute;
    padding-left: 50px;
}

.login_join .menu-lv1:hover .menu-lv2
{
    display: block;
}